[submodule "Vendors/MSCollectionViewCalendarLayout"]
	path = Vendors/MSCollectionViewCalendarLayout
	url = git@github.com:ApplETS/MSCollectionViewCalendarLayout.git
[submodule "Vendors/MSDynamicsDrawerViewController"]
	path = Vendors/MSDynamicsDrawerViewController
	url = git@github.com:monospacecollective/MSDynamicsDrawerViewController.git
