[submodule "Vendors/MFSideMenu"]
	path = Vendors/MFSideMenu
	url = git@github.com:mikefrederick/MFSideMenu.git
[submodule "Vendors/CRNavigationController"]
	path = Vendors/CRNavigationController
	url = git@github.com:croberts22/CRNavigationController.git
