//
//  ETSMobile-Config.xcconfig
//  ETSMobile
//
//  Created by Jean-Philippe Martin on 2015-05-04.
//  Copyright (c) 2015 ApplETS. All rights reserved.
//

#include "Keys.xcconfig"
​#include "Pods/Target Support Files/Pods-ETSMobile/Pods-ETSMobile.release.xcconfig"
GCC_PREPROCESSOR_DEFINITIONS = $(inherited)