//
//  Keys.xcconfig
//  ETSMobile
//
//  Created by Jean-Philippe Martin on 2015-05-04.
//  Copyright (c) 2015 ApplETS. All rights reserved.
//

FABRIC_API_KEY = c0781ea7e44d8e3e63d49409f062972e1302609a
FABRIC_BUILD_SECRET = f27016026fcf9bdf52ccd6bd0ed72be459b304ad04c728a6e6109b7ebf394923
ApplETSUsername = applets_app
ApplETSPassword = @pplETS123
SUPPORTKIT_API_KEY = 3i3o2ps1dmokaznvkn5hc9p7i