<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
	<key>Sponsors</key>
	<dict>
		<key>image_url</key>
		<string>image_url</string>
		<key>name</key>
		<string>name</string>
		<key>url</key>
		<string>url</string>
	</dict>
	<key>Consommation</key>
	<dict>
		<key>id</key>
		<string>id</string>
		<key>date</key>
		<string>date</string>
		<key>download</key>
		<string>download</string>
		<key>idChambre</key>
		<string>idChambre</string>
		<key>upload</key>
		<string>upload</string>
	</dict>
	<key>NewsSource</key>
	<dict>
		<key>enabled</key>
		<string>enabled</string>
		<key>name</key>
		<string>name</string>
		<key>link</key>
		<string>url</string>
		<key>group</key>
		<string>group</string>
		<key>id</key>
		<string>id</string>
	</dict>
	<key>MoodleElement</key>
	<dict>
		<key>visible</key>
		<string>visible</string>
		<key>parentid</key>
		<string>parentid</string>
		<key>header</key>
		<string>header</string>
		<key>name</key>
		<string>name</string>
		<key>id</key>
		<string>id</string>
		<key>filename</key>
		<string>filename</string>
		<key>type</key>
		<string>type</string>
		<key>url</key>
		<string>url</string>
	</dict>
	<key>MoodleCourse</key>
	<dict>
		<key>acronym</key>
		<string>acronym</string>
		<key>name</key>
		<string>name</string>
		<key>session</key>
		<string>session</string>
		<key>visible</key>
		<string>visible</string>
		<key>id</key>
		<string>id</string>
		<key>fullname</key>
		<string>fullname</string>
		<key>shortname</key>
		<string>shortname</string>
	</dict>
	<key>Session</key>
	<dict>
		<key>acronym</key>
		<string>abrege</string>
		<key>start</key>
		<string>dateDebut</string>
		<key>end</key>
		<string>dateFin</string>
	</dict>
	<key>Program</key>
	<dict>
		<key>code</key>
		<string>code</string>
		<key>name</key>
		<string>libelle</string>
		<key>profil</key>
		<string>profile</string>
		<key>status</key>
		<string>statut</string>
		<key>start</key>
		<string>sessionDebut</string>
		<key>end</key>
		<string>sessionFin</string>
		<key>results</key>
		<string>moyenne</string>
		<key>cequivalence</key>
		<string>nbEquivalences</string>
		<key>csucces</key>
		<string>nbCrsReussis</string>
		<key>cfailed</key>
		<string>nbCrsEchoues</string>
		<key>cregistred</key>
		<string>nbCreditsInscrits</string>
		<key>ccompleted</key>
		<string>nbCreditsCompletes</string>
		<key>cpotential</key>
		<string>nbCreditsPotentiels</string>
		<key>cresearch</key>
		<string>nbCreditsRecherche</string>
	</dict>
	<key>Calendar</key>
	<dict>
		<key>session</key>
		<string>session</string>
		<key>id</key>
		<string>id</string>
		<key>start</key>
		<string>dateDebut</string>
		<key>end</key>
		<string>dateFin</string>
		<key>title</key>
		<string>libelleCours</string>
		<key>room</key>
		<string>local</string>
		<key>summary</key>
		<string>descriptionActivite</string>
		<key>course</key>
		<string>coursGroupe</string>
	</dict>
	<key>News</key>
	<dict>
		<key>thumbnailURL</key>
		<string>image</string>
		<key>link</key>
		<string>facebook_link</string>
		<key>title</key>
		<string>title</string>
		<key>ymdDate</key>
		<string>ymdDate</string>
		<key>author</key>
		<string>from</string>
		<key>id</key>
		<string>id</string>
		<key>content</key>
		<string>title</string>
		<key>updatedDate</key>
		<string>updated_time</string>
	</dict>
	<key>Bandwidth</key>
	<dict>
		<key>id</key>
		<string>id</string>
		<key>month</key>
		<string>month</string>
		<key>download</key>
		<string>download</string>
		<key>upload</key>
		<string>upload</string>
		<key>date</key>
		<string>date</string>
		<key>port</key>
		<string>port</string>
	</dict>
	<key>Event</key>
	<dict>
		<key>source</key>
		<string>source</string>
		<key>id</key>
		<string>id</string>
		<key>title</key>
		<string>summary</string>
		<key>start</key>
		<string>start_date</string>
		<key>end</key>
		<string>end_date</string>
	</dict>
	<key>Contact</key>
	<dict>
		<key>ext</key>
		<string>Poste</string>
		<key>service</key>
		<string>Service</string>
		<key>email</key>
		<string>Courriel</string>
		<key>firstName</key>
		<string>Prenom</string>
		<key>id</key>
		<string>Id</string>
		<key>job</key>
		<string>Titre</string>
		<key>lastName</key>
		<string>Nom</string>
		<key>office</key>
		<string>Emplacement</string>
		<key>phone</key>
		<string>TelBureau</string>
	</dict>
	<key>Evaluation</key>
	<dict>
		<key>date</key>
		<string>date</string>
		<key>mean</key>
		<string>moyenne</string>
		<key>median</key>
		<string>mediane</string>
		<key>name</key>
		<string>nom</string>
		<key>percentile</key>
		<string>rangCentile</string>
		<key>result</key>
		<string>note</string>
		<key>std</key>
		<string>ecartType</string>
		<key>team</key>
		<string>equipe</string>
		<key>total</key>
		<string>corrigeSur</string>
		<key>weighting</key>
		<string>ponderation</string>
	</dict>
	<key>EvalEnseignement</key>
	<dict>
		<key>startDate</key>
		<string>DateDebutEvaluation</string>
		<key>endDate</key>
		<string>DateFinEvaluation</string>
		<key>hasBeenCompleted</key>
		<string>EstComplete</string>
	</dict>
	<key>Course</key>
	<dict>
		<key>session</key>
		<string>session</string>
		<key>id</key>
		<string>id</string>
		<key>acronym</key>
		<string>sigle</string>
		<key>credits</key>
		<string>nbCredits</string>
		<key>grade</key>
		<string>cote</string>
		<key>group</key>
		<string>groupe</string>
		<key>program</key>
		<string>programmeEtudes</string>
		<key>title</key>
		<string>titreCours</string>
	</dict>
	<key>Profile</key>
	<dict>
		<key>firstName</key>
		<string>prenom</string>
		<key>lastName</key>
		<string>nom</string>
		<key>permanentCode</key>
		<string>codePerm</string>
		<key>balance</key>
		<string>soldeTotal</string>
	</dict>
</dict>
</plist>
