<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>group</key>
		<integer>-1</integer>
		<key>id</key>
		<string>ets</string>
		<key>name</key>
		<string>École de technologie supérieure</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>substance</string>
		<key>name</key>
		<string>Substance ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>0</integer>
		<key>id</key>
		<string>centresportif</string>
		<key>name</key>
		<string>Centre sportif ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>applets</string>
		<key>name</key>
		<string>ApplETS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>2</integer>
		<key>id</key>
		<string>esports</string>
		<key>name</key>
		<string>E-sporTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>4</integer>
		<key>id</key>
		<string>rafale</string>
		<key>name</key>
		<string>Rafale ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>2</integer>
		<key>id</key>
		<string>rockanddance</string>
		<key>name</key>
		<string>R&amp;D - Rock &amp; Dance ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>conjure</string>
		<key>name</key>
		<string>Conjure</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>rockets</string>
		<key>name</key>
		<string>RockÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>4</integer>
		<key>id</key>
		<string>phoenix</string>
		<key>name</key>
		<string>Phoenix ÉTS Fireball</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>avioncargo</string>
		<key>name</key>
		<string>ACE, Avion Cargo ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>4</integer>
		<key>id</key>
		<string>clubcycliste</string>
		<key>name</key>
		<string>Club Cycliste Cinétique à l&apos;ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>4</integer>
		<key>id</key>
		<string>football</string>
		<key>name</key>
		<string>Football ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>2</integer>
		<key>id</key>
		<string>ingenieuses</string>
		<key>name</key>
		<string>INGénieuses de L&apos;ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>3</integer>
		<key>id</key>
		<string>debatpiranha</string>
		<key>name</key>
		<string>Débat Piranha</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>3</integer>
		<key>id</key>
		<string>radiopiranha</string>
		<key>name</key>
		<string>Radio Piranha</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>walkingmachine</string>
		<key>name</key>
		<string>Walking Machine</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>4</integer>
		<key>id</key>
		<string>atlhetsiques</string>
		<key>name</key>
		<string>Les AthlÉTSiques</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>2</integer>
		<key>id</key>
		<string>aeets</string>
		<key>name</key>
		<string>AÉÉTS - Association étudiante de l&apos;ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>4</integer>
		<key>id</key>
		<string>rugby</string>
		<key>name</key>
		<string>Rugby Club</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>0</integer>
		<key>id</key>
		<string>bibliotheque</string>
		<key>name</key>
		<string>Bibliothèque ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>capra</string>
		<key>name</key>
		<string>Capra</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>ieee</string>
		<key>name</key>
		<string>IEEE-ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>pontpop</string>
		<key>name</key>
		<string>Compétition PontPop ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>omer</string>
		<key>name</key>
		<string>Omer ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>baja</string>
		<key>name</key>
		<string>Baja ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>canoedebeton</string>
		<key>name</key>
		<string>Le canoë de béton de l&apos;ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>chinook</string>
		<key>name</key>
		<string>Club Chinook ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>sonia</string>
		<key>name</key>
		<string>Sonia AUV</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>2</integer>
		<key>id</key>
		<string>lanets</string>
		<key>name</key>
		<string>Lan ETS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>formuleets</string>
		<key>name</key>
		<string>Formule ÉTS propulsée par Vidéotron</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>eclipse</string>
		<key>name</key>
		<string>Véhicule Solaire Éclipse</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>3</integer>
		<key>id</key>
		<string>turbulence</string>
		<key>name</key>
		<string>Stage Band Turbulence</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>2</integer>
		<key>id</key>
		<string>preci</string>
		<key>name</key>
		<string>PRECI</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>3</integer>
		<key>id</key>
		<string>reflets</string>
		<key>name</key>
		<string>ReflETS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>2</integer>
		<key>id</key>
		<string>crabeets</string>
		<key>name</key>
		<string>CRABE ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>2</integer>
		<key>id</key>
		<string>decliq</string>
		<key>name</key>
		<string>DécliQ</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>quiets</string>
		<key>name</key>
		<string>QuiETS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>dronolab</string>
		<key>name</key>
		<string>Dronolab</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>3</integer>
		<key>id</key>
		<string>liets</string>
		<key>name</key>
		<string>LiÉTS - Ligue d&apos;improvisation de l’ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>3</integer>
		<key>id</key>
		<string>radiosansgenie</string>
		<key>name</key>
		<string>Radio sans génie</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>2</integer>
		<key>id</key>
		<string>coopets</string>
		<key>name</key>
		<string>Librairie Coop ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>2</integer>
		<key>id</key>
		<string>integrale</string>
		<key>name</key>
		<string>Intégrale ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>id</key>
		<string>geniale</string>
		<key>name</key>
		<string>GéniAle ÉTS</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>group</key>
		<integer>0</integer>
		<key>id</key>
		<string>aeroets</string>
		<key>name</key>
		<string>Aéroéts - Le génie pour l’aérospatiale</string>
		<key>enabled</key>
		<true/>
	</dict>
</array>
</plist>
